<table style="width: 100%; height: 5%;">
  <tr>
    <td style="width: 10%;"> <img src="/assets/images/Title.jpg"> </td>
    <td style="width: 70%;background-color: rgb(166, 135, 224);"> <span style="font-size: 70px; color: rgb(6, 6, 72);margin-left: 10%; "> Online Plant Nursery </span> </td>
    
    <td style="width: 30%;background-color: rgb(205, 203, 220);">
      <a href="#">login</a>/ 
      <a href="#" style="margin-left: 10px;"> signup</a>
     </td>
  </tr>
</table>
  <table style=" width: 100%;height: 10%;">
  <tr>
    
    <td style="width: 15%; text-align: center;">  <a routerLink="/addPlants"> Add Plants</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/viewallplants"> View All Plants</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/upcomingplants"> Upcoming Plants </a>  </td>
   <!-- <td style="width: 15%; text-align: center;">  <a routerLink="/flowerplant">  Flower Plant </a> </td>
   <td style="width: 15%; text-align: center;">  <a routerLink="/fruitplant"> Fruit Plant </a>  </td>
   <td style="width: 15%; text-align: center;">  <a routerLink="/fruitplant"> Filters </a>  </td> -->
   <td style="width: 15%; text-align: center;">  <a routerLink="/plantsindb"> Plants In DB </a>  </td>
   <td style="width: 15%; text-align: center;">  <a routerLink="/plantfiterations"> Plant Filtertions </a>  </td>
  
    </tr>
  </table>

  <router-outlet></router-outlet>